<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aurora Client</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="aurora">
  <div class="container-fluid">
    <div class="col-sm-4 column left-panel" ng-controller="InputCtrl as input">
      <div class="left-panel-map">
        <script id="searchbox.tpl.html" type="text/ng-template">
          <input id="searchbox" type="text" placeholder="Search Box">
        </script>
        <ui-gmap-google-map
          center='map.center'
          zoom='map.zoom'
          draggable='true'
          events='map.events'>
            <ui-gmap-search-box
              template='searchbox.template'
              events='searchbox.events' />
            <ui-gmap-drawing-manager
              options='drawingManager.options'
              control='drawingManager.control'
              events='drawingManager.events'/>
        </ui-gmap-google-map>
      </div>
      <div class="left-panel-input">
        <form ng-submit='calculate()'>
          <div ng-repeat='roof in roofs track by $index'>
            <div class="form-group">
              <label for="roofPitch">Roof Pitch</label>
              <input type="number" class="form-control" id="roofPitch" ng-model="roof.roofPitch">
            </div>
            <div class="form-group">
              <label for="azimuth">Azimuth</label>
              <input type="number" class="form-control" id="azimuth" ng-model="roof.azimuth">
            </div>
            <div class="form-group">
              <label for="unitWattage">Wattage / sq.m</label>
              <input type="number" class="form-control" placeholder="(optional)" id="unitWattage" ng-model="roof.unitWattage">
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-default" ng-show="roofs.length">Calculate</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4 column middle-panel">
      Performance
    </div>
    <div class="col-sm-4 column right-panel">
      Financial
    </div>

  </div>

  <script src="node_modules/lodash/lodash.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="node_modules/angular-google-maps/dist/angular-google-maps.js"></script>
  <script src="app/services.js"></script>
  <script src="app/input.js"></script>
  <script src="app/app.js"></script>
</body>
</html>